<div class="biography">
  Matthew Alden began dancing at 11 as a supplemental activity for figure skating.
  Over time, he developed a passion for musical theatre,
  and has trained in ballet, tap, jazz, and modern to realize this goal.
  Matthew has performed with the Colorado Youth Ballet, High Altitude Dance Ensemble,
  and most recently the American Spirit Dance Company.
  He teaches various styles of dance including ballet, tap, jazz, contemporary,
  and musical theatre at DanceArt Academy in Monument, Colorado,
  and will be choreographing their summer production of Willy Wonka.
  He is a current student at Oklahoma City University with an expected graduation date of May 2018.
</div>
