<div>
  <img class="img-mistletoe" src="/assets/images/mistletoe.jpg" />
  <img class="img-slatebackground" src="/assets/images/slatebackground.jpg" />
  <img class="img-ppccmodern" src="/assets/images/ppccmodern.jpg" />
</div>
<div>
  <img class="img-ocu" src="/assets/images/ocu.jpg" />
  <img class="img-ppccjazz" src="/assets/images/ppccjazz.jpg" />
</div>
